.intro-screen {
  margin: 0;
  width: 100%;
  height: 40vh;
  background-image: url("https://eckels.github.io/DIYmatic/img/background.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 10em;
  border-bottom: solid #324376 5px;
}

.newsletter-div {
  background-color: black;
  padding: 20px;
  text-align: center;
}

.newsletter-div h3 {
  color: white;
  font-size: 200%;
  margin: 0;
}

.newsletter-div p {
  color: white;
  opacity: 0.7;
  margin-bottom: 30px;
}

.newsletter-form {
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
}

.newsletter-div input {
  outline: none;
  background-color: white;
  font-size: 110%;
  padding: 5px;
  border-radius: 10px 0 0 10px;
  border: none;
  width: 300px;
}

.newsletter-div button {
  font-size: 110%;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.about-div {
  padding: 25px;
  text-align: center;
  background-color: #2196F3;
  border-bottom: solid #324376 5px;
}

.about-div h2 {
  color: white;
  font-size: 220%;
  margin: 10px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.about-div p {
  color: white;
  width: 80%;
  margin: auto 10% auto 10%;
  line-height: 180%;
  font-size: 120%;
}

@media (max-width: 886px) {
  .intro-screen {
    height: 35vh;
    padding-top: 9em;
  }
}

@media (max-width: 520px) {
  .intro-screen {
    height: 33vh;
    padding-top: 8em;
  }
.newsletter-div h3 {
  font-size: 160%;
}
.newsletter-div p {
  font-size: 95%;
}
.newsletter-form {
  padding: 3px;
}
.newsletter-form input {
  font-size: 95%;
  width: auto;
}
.newsletter-form button {
  font-size: 95%;
  padding: 8px 10px 8px 10px;
}
}

@media (max-width: 440px) {
  .intro-screen {
    height: 30vh;
    padding-top: 6em;
  }
}

@media (max-width: 600px) {
  .about-div {
    padding: 15px;
  }
  .about-div h2 {
    font-size: 180%;
  }
  .about-div p {
    font-size: 100%;
  }
}
