.intro-screen {
  margin: 0;
  width: 100%;
  height: 40vh;
  background-image: url("https://eckels.github.io/DIYmatic/img/background.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 10em;
}

@media (max-width: 886px) {
.intro-screen {
  height: 35vh;
  padding-top: 9em;
}
}

@media (max-width: 520px) {
  .intro-screen {
    height: 33vh;
    padding-top: 8em;
  }
}

@media (max-width: 440px) {
  .intro-screen {
    height: 30vh;
    padding-top: 6em;
  }
}
