body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

header {
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2196F3;
  position: absolute;
}

.buffer {
  height: 70px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo-div {
  background-color: white;
  border: solid #324376 4px;
  border-top: none;
  float: left;
  padding: 15px 12px 15px 12px;
  margin-left: 40px;
}

.logo-div img {
  height: 100px;
  width: auto;
  float: left;
  margin: 0;
  padding: 0;
}

nav {
  float: left;
  margin-top: 22px;
}

nav ul {
  margin: 0;
  float: left;
  letter-spacing: 1px;
  margin-left: -10px;
}

nav li {
  margin: 0;
  display: inline;
  font-size: 105%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 12px;
}

nav a {
  text-decoration: none;
}

.right-div {
  margin-top: 18px;
  margin-right: 20px;
  float: right;
}

.search-box {
  float: left;
}

.search-box img {
  float: left;
  height: 26px;
  width: auto;
  background-color: #324376;
  border-radius: 4px 0 0 4px;
  border: solid #324376 1px;
  border-right: none;
  padding: 2px;
}

#textbox {
  float: left;
  font-size: 105%;
  margin-right: 15px;
  padding: 5px;
  outline: none;
  border-radius: 0 4px 4px 0;
  border: solid #757575 1px;
  border-left: none;
}

.right-div button {
  font-size: 95%;
  color: white;
  float: left;
  border: none;
  padding: 5px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.right-div button:hover {
  text-decoration: underline;
}

@media (max-width: 1016px) {
  .logo-div {
    margin-left: 30px;
  }
  .logo-div img {
    height: 85px;
  }
  nav {
    margin-top: 24px;
  }
  nav ul {
    margin-left: -15px;
  }
  nav li {
    font-size: 95%;
  }
  .search-box img {
    height: 23px;
  }
  .right-div {
    margin-top: 20px;
  }
  #textbox {
    font-size: 95%;
  }
  .right-div button {
    font-size: 95%;
  }
}

@media (max-width: 922px) {
  .logo-div {
    margin-left: 20px;
  }
  .logo-div img {
    height: 75px;
  }
  nav {
    margin-top: 26px;
  }
  nav ul {
    margin-left: -18px;
  }
  .search-box img {
    height: 23px;
  }
  .right-div {
    margin-top: 20px;
    margin-right: 15px;
  }
  #textbox {
    font-size: 95%;
  }
  .right-div button {
    font-size: 95%;
  }
}

@media (max-width: 886px) {
  .buffer {
    display: none;
  }
  header {
    background-color: none;
    height: auto;
    position: static;
  }
  .logo-div {
    float: none;
    margin: 0;
    width: 100%;
    padding: 0;
    border: none;
  }
  .logo-div img {
    float: none;
    margin-top: 10px;
    margin-left: 20px;
  }
  nav {
    float: left;
    margin-top: 0;
  }
  nav ul {
  margin-top: 10px;
  }
  .right-div {
    margin-top: 8px;
  }
  .bottom-section {
    width: 100%;
    background-color: #2196F3;
    height: 46px;
  }
}

@media (max-width: 670px) {
  header {
    background-color: white;
  }
  .logo-div {
    margin-left: 50vw;
  }
  .logo-div img {
    width: 160px;
    height: auto;
    margin-left: -80px;
  }
  #textbox {
    margin-right: 0;
  }
  .right-div button {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #324376;
  }
}

@media (max-width: 550px) {
  nav {
    float: none;
    padding-top: 3px;
  }
  nav ul {
    float: none;
    justify-content: center;
    display: flex;
  }
  .right-div {
    float: none;
    text-align: center;
    margin-left: 50vw;
  }
  .search-box {
    float: none;
    text-align: center;
    margin-left: -118px;
  }
  #textbox, .search-box img {
    margin-top: 4px;
  }
  #textbox {
    width: 200px;
  }
  .bottom-section {
    height: 85px;
  }
}
